<h1>New recipe</h1>

<form action="/new_recipe" method="post">
  <div>
    <label for="name">Name :</label>
    <input type="text" id="name" name="name">
  </div>
  <div>
    <label for="description">Description :</label>
    <input type="text" id="description" name="description">
  </div>
  <div>
    <label for="prep_time">Prep time :</label>
    <input type="text" id="prep_time" name="prep_time">
  </div>
  <div>
    <label for="rate">Rate :</label>
    <input type="text" id="rate" name="rate">
  </div>
  <div>
    <input type="submit" value="Add recipe">
  </div>
</form>